<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craftsy | Home</title>
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- costum css -->
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/3023c93a1c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="home">
    <header>
      <section>
        <a href="/" class="header__section--link-home"
          ><img src="/img/logo.png" alt="logo"
        /></a>
        <a href="" class="header__section--nav"
          ><i class="fa-solid fa-bars"></i
        ></a>
      </section>
      <nav>
        <ul>
          <li><a href="">smartphones</a></li>
          <li><a href="">tablets</a></li>
          <li><a href="">computadoras</a></li>
        </ul>
        <ul>
          <li><a href="/login">login</a></li>
          <li><a href="/register">registro</a></li>
        </ul>
      </nav>
    </header>
    <main class="home__main">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <section class="home__main__section--products">
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-01.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-02.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-03.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-01.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-02.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
        <article class="home__main__section__article--products">
          <img src="/img/img-phone-03.jpg" alt="img-phone-01" />
          <h4>Nombre del producto</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            animi necessitatibus, aperiam voluptas magnam veniam, eligendi alias
            quod molestias tempore laboriosam quos. Cumque, voluptate?
          </p>
          <a href="">ver mas </a>
        </article>
      </section>
      <aside class="home__main__aside">
        <h2>Tutoriales</h2>
        <section class="home__main__aside__section--tutoriales">
          <article class="home__main__aside__section__article">
            <img src="/img/aside-01.jpg" alt="aside-01" />
            <p>Titulo del tutorial de reparacion</p>
          </article>
          <article class="home__main__aside__section__article">
            <img src="/img/aside-02.jpg" alt="aside-02" />
            <p>Titulo del tutorial de reparacion</p>
          </article>
          <article class="home__main__aside__section__article">
            <img src="/img/aside-03.jpg" alt="aside-03" />
            <p>Titulo del tutorial de reparacion</p>
          </article>
          <article class="home__main__aside__section__article">
            <img src="/img/aside-04.jpg" alt="aside-04" />
            <p>Titulo del tutorial de reparacion</p>
          </article>
        </section>
        <h2>Publicidad</h2>
        <section class="home__main__aside__section--publicidad">
          <img src="/img/codecanyon.jpg" alt="codecanyon" />
          <img src="/img/tennessee.jpg" alt="tennessee" />
        </section>
      </aside>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <script>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
        direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
   </script>
  </body>
</html>
